.loader-comp {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    animation: sherlock 2s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

@keyframes sherlock {
  0%,
  100% {
    stroke: #6c6c6c;
    transform: translateY(0);
  }
  25% {
    stroke: var(--primary-color);
    transform: translate(0px, 5px);
  }
  50% {
    stroke: var(--primary-color);
    transform: translate(10px, 10px);
  }
  75% {
    stroke: var(--primary-color);
    transform: translate(-10px, 8px);
  }
}
